---
layout: default
title: Colombia Viajera
description: Haz tu viaje con la seguridad de conseguir los mejores recuerdos de tu próximo viaje
---
{% include hero.html %}
{% include header.html %}
{% include categorias.html %}
{% include buscador.html %}

{% include destinos.html %}

{% include parallax.html clase="testimonio1" front="fabio-velez-colombia-viajera.webp" texto="Terminamos el viaje sin ninguna dificultad. Todo salió como se planeó y quedamos muy a gusto. Todos les quedamos muy agradecidos - Fabio Vélez" %}

{% include promociones.html %}

{% include parallax.html clase="testimonio2" front="luis-carlos-nohemi-colombia-viajera.webp" texto="Gracias por ofrecernos y diseñarnos un plan tan bien estructurado. Fue un paseo inolvidable - NOHEMÍ" %}

{% include servicios.html %}

{% include parallax.html clase="testimonio3" front="alberto-sanchez-colombia-viajera.webp" texto="Los guías fueron de gran ayuda. El personal, las instalaciones de los hospedajes, todo muy bien. Felicitaciones - JOSE SÁNCHEZ" %}

{% include footer.html %}