---
layout: default
title: Colombia Viajera
description: Descanso y placer en San Agustín Huila por su espacio y sus recetas para helado suave.
---
{% include hero.html %}
{% include header.html %}
{% include destinos-home.html limit="7" %}
{% include parallax.html clase="testimonio1" front="testimonio1a.png" texto="Aquí va el primer testimonio de los clientes de Colombia Viajera" %}
{% include tours-home.html limit="7" %}
{% include parallax.html clase="testimonio2" front="testimonio1a.png" texto="Aquí va el segundo testimonio de los clientes de Colombia Viajera" %}
{% include servicios.html %}
{% include parallax.html clase="testimonio3" front="testimonio1a.png" texto="Aquí va el tercer testimonio de los clientes de Colombia Viajera" %}
{% include footer.html %}