<div class="ec-stars-wrapper">
	<a href="#" data-value="1" title="Votar con 1 estrellas" style="color: {{ include.color1 | default: "var(--secundario)" }};">&#9733;</a>
	<a href="#" data-value="2" title="Votar con 2 estrellas" style="color: {{ include.color2 | default: "var(--secundario)" }};">&#9733;</a>
	<a href="#" data-value="3" title="Votar con 3 estrellas" style="color: {{ include.color3 | default: "var(--secundario)" }};">&#9733;</a>
	<a href="#" data-value="4" title="Votar con 4 estrellas" style="color: {{ include.color4 | default: "var(--secundario)" }};">&#9733;</a>
	<a href="#" data-value="5" title="Votar con 5 estrellas" style="color: {{ include.color5 | default: "var(--secundario)" }};">&#9733;</a>
</div>