<main class="destinos-home">
  <h2 class="wow bounceInRight">Los mejores destinos de Colombia para tu próximo viaje
    <span class="destinos-background">Destinos</span>
  </h2>
  {% for galeria in site.posts limit:{{include.limite}} %}
  {% if galeria.destinos-principal == 'si' %}
  <picture class="foto">
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ galeria.webp }}">
    <img src="{{ site.baseurl }}/{{ galeria.img }}" class="wow flipInY" alt="{{ galeria.alt }}">
    <a>{{ galeria.title }}</a>
  </picture>
  {% endif %}
  {% endfor %}
  <a href="#" class="botones wow fadeInRightBig">¿Buscas tu destino favorito?</a>
</main>