<footer>
  <img src="{{site.baseurl}}/img/footer/journey.gif"></img>
  <ul>
    <li class="wow fadeInLeft"><a href="{{site.baseurl}}/viajes">
        Destinos
      </a></li>
    <li class="wow fadeInRight"><a href="{{site.baseurl}}/contacto">
        Nosotros
      </a></li>
    <li class="wow slideInDown"><a href="{{site.baseurl}}/privacidad">
        Privacidad
      </a></li>
    <li class="wow slideInLeft"><a href="{{site.baseurl}}/condiciones">
        Condiciones
      </a></li>
    <li class="wow slideInRight"><a href="{{site.baseurl}}/blog">
        Blog
      </a></li>
  </ul>
  <p>&copy; La Colombia Viajera - 2021 Todos los derechos reservados</p>
  <p>Licencia de operación No. 22222222222222</p>
  <p>Página creada por <a href="https://klerpson.github.io/julianfran/" class="julian"> Julian Franco</a></p>
</footer>