<div class="heroslider">
  <div class="slider">
    <div class="slide slide1">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laborum quas exercitationem odio facere</p>
          <a href="">Conocer más</a>
      </div>
    </div>
    <div class="slide slide2">
      <div class="caption">
        <h2>Slide 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laborum quas exercitationem odio facere</p>
          <a href="">Conocer más</a>
      </div>
    </div>
    <div class="slide slide3">
      <div class="caption">
        <h2>Slide 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laborum quas exercitationem odio facere</p>
          <a href="">Conocer más</a>
      </div>
    </div>
    <div class="slide slide1">
      <div class="caption">
        <h2>Slide 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laborum quas exercitationem odio facere</p>
        <a href="">Conocer más</a>
      </div>
    </div>
  </div>
</div>