<section class="tours-home">
  <h2>¿Y cuál es tu plan de viaje por Colombia?
    <span class="tours-background">Tours</span>
  </h2>
  {% for galeria in site.posts limit:{{include.limite}} %}
  {% if galeria.tours-principal == 'si' %}
  <a href="{{site.baseurl}}{{ galeria.url }}" target="_blank">
  <picture class="foto">
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ galeria.webp }}">
    <img src="{{ site.baseurl }}/{{ galeria.img }}" class="wow flipInY" alt="{{ galeria.alt }}">
    <h4>{{ galeria.title }}</h4>
  </picture>
</a>
  {% endif %}
  {% endfor %}
  <a href="#" class="botones wow fadeInRightBig">Busca tu plan favorito</a>
</section>
