main {
  margin: 5rem 0;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--fuenteTexto);
  color: var(--grisFuentes);
}

.articulo img {
  max-width: 90vw;
}

.articulo h1 {
  font-size: 3rem;
  font-family: var(--fuenteTitulos);
  color: var(--secundario);
}

@media screen and (min-width: 767px) {
  main{
    margin: 5rem auto;
    padding: 0;
    width: 80vw;
  }
}

@media screen and (min-width: 992px) {
  main{
    width: 60vw;
  }
}