.botones{
  position: relative;
  margin: 2em 0;
  width: 100%;
  font-family: var(--fuenteGraficas);
  font-weight: 700;
  font-size: 1.2em;
  transition: 0.5s;
  color: var(--accion);
  text-decoration: underline;
  text-decoration-color: var(--complemento1);
  text-decoration-thickness: 0.2rem;
  grid-column: span 2;
}

.botones:hover {
  text-decoration-color: var(--principal);
}

.botones::before {
  content: 'Clic';
  position: absolute;
  top: -0.5em;
  left: 0;
  color: rgba(230, 175, 49, 0.5);
  font-size: 5rem;
  letter-spacing: 5px;
  z-index: -1;
}