.botones{
  margin: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 0.5em;
  background-color: var(--accion);
  padding: 0.7em 1em;
  text-align: center;
  font-size: 1rem;
  border-right: 1px solid var(--blanco);
  box-shadow: 0px 2px 5px rgba(64, 64, 64, 0.3);
  border-radius: 5px;
}