/**** Header ****/
header {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70vw;
  margin: 0 auto 20px;
  padding: 0.5em;
  background: var(--blanco);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/**** Logo ****/
.logo img {
  height: 2.5em;
  margin: 0;
  box-sizing: border-box;
  float: left;
}


@media (min-width: 800px) {
  .logo img {
    height: 4em;
    padding: 10px 20px;

  }
}

@media (min-width: 1200px) {
  header {
    margin: 0 20px 20px;
  }

}