.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 85vh;
}

.heroslider {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.heroslider .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: animar 20s linear infinite;
}

@keyframes animar {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  50% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  85% {
    left: -200%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -300%;
  }
}

.heroslider .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
  transition: 0.5s;
}

.heroslider .slider .slide .caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  max-width: 40vw;
  padding: 1rem;
  background: rgba(62, 136, 91, 0.7);
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 0.8em;
}

.heroslider .slider .slide .caption h2 {
  padding: 0;
  margin: 0;
  color: var(--blanco);
  transition: 0.5s;
}

.heroslider .slider .slide .caption p {
  margin: 0.7em 0;
  padding: 0;
  color: var(--blanco);
  transition: 0.5s;
  font-family: var(--fuenteTexto);
}

.heroslider .slider .slide .caption a {
  margin: 0;
  padding: 0;
  float: right;
  color: var(--blanco);
  font-family: var(--fuenteGraficas);
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
  transition: 0.5s;
}

.heroslider .slider .slide .caption a:hover {
  color: var(--principal);
  text-decoration-color: var(--blanco);
}

.heroslider .slider .slide.slide1 {
  background: url(../img/slider/desierto-tatacoa-huila-vertical.webp);
}

.heroslider .slider .slide.slide2 {
  background: url(../img/slider/parque-arqueologico-san-agustin-vertical.webp);
}

.heroslider .slider .slide.slide3 {
  background: url(../img/slider/macizo-colombiano-purace-vertical.webp);
}

.heroslider .slider .slide.slide1,
.heroslider .slider .slide.slide2,
.heroslider .slider .slide.slide3 {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 600px) {
  .heroslider .slider .slide .caption {
    bottom: 2rem;
    left: 2rem;
    max-width: 40vw;
    padding: 2rem;
    font-size: 1em;
  }
}

@media (min-width: 767px) {
  .hero {
    height: 60vh;
  }
}

@media (min-width: 992px) {

  .hero {
    height: 70vh;
  }

  .heroslider .slider .slide.slide1 {
    background: url(../img/slider/desierto-tatacoa-huila.webp);
  }

  .heroslider .slider .slide.slide2 {
    background: url(../img/slider/parque-arqueologico-san-agustin.webp);
  }

  .heroslider .slider .slide.slide3 {
    background: url(../img/slider/macizo-colombiano-parque-purace.webp);
  }

  .heroslider .slider .slide.slide1,
  .heroslider .slider .slide.slide2,
  .heroslider .slider .slide.slide3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
  }
}