.servicios {
  width: 100vw;
  color: var(--secundario);
  font-family: var(--fuenteTexto);
}

.servicios > p {
  font-size: 1.5em;
  margin: 0 2em;
  text-align: center;
}

.servicios ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, auto));
  grid-gap: 2em;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.servicios li {
  position: relative;
  padding: 0 2em;
}

.servicios li svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 0.6;
  overflow: hidden;
  z-index: -1;
}

.servicios li h3 {
  font-family: var(--fuenteTitulos);
  color: var(--accion);
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: 767px){
  .servicios > p{
    margin: 2em 0;
  }

  .servicios li {
    padding: 0;
    max-width: 40vw;
  }
}

@media screen and (min-width: 992px){
  .servicios li svg {
    height: 120%;
  }
}