.servicios {
  color: var(--secundario);
  padding: 0;
}

.servicios>p {
  font-family: var(--fuenteTexto);
  font-size: 1.5em;
  margin: 3em 0;
  text-align: center;
}

.servicios ul {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.servicios li {
  position: relative;
  padding: 3em 2em;
}

.servicios li:nth-child(1),
.servicios li:nth-child(3) {
  background-color: var(--principal);
  z-index: -2;
}

.servicios li h3 {
  font-family: var(--fuenteTitulos);
  color: var(--accion);
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

.servicios li svg {
  position: absolute;
  top: calc(100% - 60%);
  right: 0;
  height: 60%;
  opacity: 0.6;
  overflow: hidden;
  z-index: -1;
}

@media screen and (min-width: 767px) {
  .servicios ul {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    align-items: stretch;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.4);
  }

  .servicios li:nth-child(1),
  .servicios li:nth-child(4) {
    background-color: var(--principal);
    z-index: -2;
  }

  .servicios li:nth-child(3) {
    background-color: var(--blanco);
  }

}

@media screen and (min-width: 992px) {
  .servicios ul {
    grid-template-columns: repeat(4, 1fr);
}
.servicios li:nth-child(1),
  .servicios li:nth-child(3) {
    background-color: var(--principal);
    z-index: -2;
  }

  .servicios li:nth-child(4) {
    background-color: var(--blanco);
  }
}