:root {

  /*** COLORES ***/
  /* CSS HEX */
  --principal: rgb(255, 204, 0) ;
  --secundario: #358600;
  --accion: rgb(248, 94, 0);
  --complemento1: #157145;
  --complemento2: rgb(52, 209, 191);

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: rgb(37, 37, 37);

  /* hexadecimal */
  --blanco: rgb(255, 255, 255);
  --blancoRGBA: rgba(255, 255, 255, 0.8);

  /*** FUENTES ***/
  --fuenteTitulos: 'Lato', sans-serif;
  --fuenteTexto: 'Open Sans', sans-serif;
  --fuenteGraficas: 'Lato', cursive;
}